<li class="films__item" data-mvid='{{id}}'>
    <div class="films__img">
        <img src={{poster}} alt='Poster {{original_title}}' data-mvid='{{id}}' loading='lazy' />
    </div>
    <div class="films__description" data-mvid='{{id}}'>
        <p class="films__title" data-mvid='{{id}}'>
            <b data-mvid='{{id}}'>{{titleMovie}}</b>
        </p>
        <div class="films__meta" data-mvid='{{id}}'>
            <p class="films__genres" data-mvid='{{id}}'>{{checkGenres}}</p>
            <p class="films__data" data-mvid='{{id}}'>{{releaseYear}}</p>
        </div>
    </div>
</li>