<div class='modal'>
  <div class='modal__container-picture'>
    <img class='modal__picture' src={{img}} alt='icon-film' />
  </div>
  <div>
    <h2 class='modal__title'>{{title}}</h2>
    <div class='modal__char'>
      <span class='modal__char-name'>Vote / Votes</span>
      <p class='modal__char-api'>
        <span class='modal__char-api modal__vote'>{{vote}}</span>
        /
        <span class='modal__char-api'>{{votes}}</span>
      </p>
    </div>
    <p class='modal__char'>
      <span class='modal__char-name'>Popularity</span><span
        class='modal__char-api'
      >{{popularity}}</span>
    </p>
    <p class='modal__char'>
      <span class='modal__char-name'>Original Title</span><span
        class='modal__char-api'
      >
        {{origin_title}}</span>
    </p>
    <p class='modal__char modal__char-mb'>
      <span class='modal__char-name'>Genre</span><span
        class='modal__char-api'
      >{{genres}}</span>
    </p>

    <p class='modal__about-title'>About</p>
    <p class='modal__about-text'>
      {{about}}
    </p>
    <div class='modal__btn-container'>
      <button class='modal__btn modal__btn-mr' type='button'>
        ADD TO WATCHED
      </button>
      <button class='modal__btn' type='button'>ADD TO QUEUE</button>
    </div>
    <button class='modal__close' type='button'>
      <svg width='30' height='30'>
        <use
          class='modal__close-icon'
          href='./symbol-defs.svg#icon-close_40px'
        ></use>
      </svg>
    </button>
  </div>
</div>